.city{
    height: 60px;
    border: 1px solid #686b78;
    /* outline: 2px solid #686b78; */
    width: 90%;
    font-size: larger;

}
.city::placeholder{
    color:#a1a3b1;  
}
.city:focus{
    border: 1px solid #FC8019;
    outline: 1px solid #FC8019;
}
.btn1{
    margin-left :-270px;
    margin-top: 50px;
    font-size: 14px;
    width: 120px;
    background-color: #fff;
    color: #686b78;
}
.btn2{
    margin-left :9px;
    margin-top: 15px;
    height: 64px;
    width: 140px;
    background-color: #FC8019;
}
.btn1:hover{
    background-color: #d2d3da;
}
@media only screen and (max-width: 1200px) {
    .city::placeholder{
        color: #fff;
    }
    
  }